include *.py
include README.rst
include *.txt
recursive-include PilLite *.py
recursive-include src *.h
recursive-include src *.c
recursive-include src *.py
recursive-include test *.py
recursive-include test/data image.*
